

.header {
    width: 800px;
    height: 80px;
    margin: 10px auto;
}

.header a {
    font-size: 50px;
    line-height: 80px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 0 5px;
}

.header ul {
    background: #fff;
    float: right;
    width: 120px;
    height: 15px;
    margin: 10px;
    padding: 4px;
    border: #ccc solid 1px;
}

.theme li {
    float: left;
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
}

.theme li:hover {
    cursor: pointer;
}

.theme li:nth-child(1) {
    background: url("../images/theme.gif") no-repeat 0 -15px;
}

.theme li:nth-child(2) {
    background: url("../images/theme.gif") no-repeat -20px 0;
}

.theme li:nth-child(3) {
    background: url("../images/theme.gif") no-repeat -40px 0;
}

.theme li:nth-child(4) {
    background: url("../images/theme.gif") no-repeat -60px 0;
}

.theme li:nth-child(5) {
    background: url("../images/theme.gif") no-repeat -80px 0;
}

.theme li:nth-child(6) {
    background: url("../images/theme.gif") no-repeat -100px 0;
}

.theme li:nth-child(1):hover {
    background: url("../images/theme.gif") no-repeat 0 -15px;
}

.theme li:nth-child(2):hover {
    background: url("../images/theme.gif") no-repeat -20px -15px;
}

.theme li:nth-child(3):hover {
    background: url("../images/theme.gif") no-repeat -40px -15px;
}

.theme li:nth-child(4):hover {
    background: url("../images/theme.gif") no-repeat -60px -15px;
}

.theme li:nth-child(5):hover {
    background: url("../images/theme.gif") no-repeat -80px -15px;
}

.theme li:nth-child(6):hover {
    background: url("../images/theme.gif") no-repeat -100px -15px;
}

.nav {
    height: 18px;
    width: 784px;
    margin: 8px auto;
    padding: 8px;
}

.nav ul li {
    float: left;
    margin: 0 10px 0 0;
    background: #eee;
    padding: 2px;
    position: relative;

}

.nav ul li a {
    text-align: center;
    color: #09f;
    font-weight: bolder;
}

.nav ul li:hover {
    background: inherit;
    color: #fff;
}

.nav ul li:hover > a {
    color: #fff;
}

.nav ul li:hover > ul {
    display: block;
}

.nav ul li ul {
    width: 100px;
    display: none;
}

.nav ul li ul {
    position: absolute;
    top: 20px;
    width: 100px;
    z-index: 100;
}

.nav ul li ul li {
    width: 100px;
}

.nav ul li ul li:hover {
    background: #7cfc00;
}

.title {
    height: 26px;
    position: relative;
}

.title h3 {
    line-height: 26px;
    font-size: small;
    color: #fff;
    margin: 0 0 0 3px;
    display: inline;
}

.content {
    width: 800px;
    margin: 0 auto;
}

.detail {
    border: #ccc solid 1px;
    width: 798px;
    position: absolute;
}

.left {
    width: 380px;
    float: left;
}

.image {
    width: 300px;
    height: 300px;
    border: #ccc solid 1px;
    background: url("../images/pro_img/blue_one_small.jpg") no-repeat 0 0;
    margin: 10px 10px;
}

.smallList {
    height: 80px;
}

.smallList li {
    float: left;
}

.small img {
    width: 62px;
    height: 62px;
    border: #eee solid 1px;
    margin: 10px;
}

.small img:hover {
    cursor: pointer;
}

.tab {
    height: 20px;
    clear: both;
    margin: 0 10px;
}

.tab li {
    float: left;
    width: 80px;
    text-align: center;
    background: #eee;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
}

.tab li:hover {
    background: #ccc;
    cursor: pointer;
}

.proDes {
    width: 360px;
    border: #bbb solid 1px;
    margin: 0 0 10px 10px;
}

.proDes div {
    display: none;
}

div .show {
    display: block;
}

.right {
    width: 380px;
    float: left;
    margin: 20px 0;
}

.right h4 {
    color: #333;
    font-weight: bold;
}

.right {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.pro_size ul {
    height: 25px;
}

.pro_size li {
    float: left;
    width: 32px;
    height: 20px;
    border: #ccc solid 1px;
    text-align: center;
    margin: 0 5px 0 0;
}

.color_change {
    margin: 0 0 20px 0;
}

.color_change ul {
    width: 380px;
    height: 34px;
}

.color_change li {
    float: left;
    width: 34px;
    height: 34px;
    border: #ccc solid 1px;
    margin: 5px;
}

.color_change img {
    width: 34px;
    height: 34px;
}

.pro_size li:hover {
    cursor: pointer;
    background: #ccc;
}

.color_change img:hover {
    cursor: pointer;
}

.pro_num {
    width: 380px;
    margin: 10px 0;
}

.pro_rating li {
    float: left;
}

#cart {
    clear: both;
}
.pro_rating{
    margin: 10px 0;
}
.rating{
    background: url("../images/star-matrix.gif") no-repeat 0 0;
    height: 16px;
    width: 80px;
}
.rating li{
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.rating li:hover {
    cursor: pointer;
}

#cart{
    margin: 10px 0;
}
#cart img:hover{
    cursor: pointer;
}

