html, body {
    height: 100%;
    background: #1a1a1a;
}

.header {
    height: 15%;
    width: 100%;
    background: url("../images/img_1.jpg") no-repeat center 0;
    background-size: cover;
}

.menu {
    height: 70%;
    column-count: 2;
    -webkit-column-count:2;
    -moz-column-count: 2;
    column-gap: 10px;
    background: #1a1a1a;
    color: #fff;
    padding: 10px;
}
.menu div{
    margin-bottom: 5px;
}
.item1 {
    background: #ef6d6d;
    /*width: 300px;*/
    height: 30%;
}


.item2 {
    height: 35%;
    background: #284a9f;
}

.item3 {
    background: #1bc25a;
    height: 30%;
}

.item4 {
    background: #f8ad37;
    height: 20%;
}

.item5 {
    background: #8c22e5;
    height: 20%;

}

.item6 {
    background: #24ab87;
    height: 20%;
}

.item7 {
    background: #33c0f4;
    height: 33.5%;
}

.footer {
    height: 5%;
    position:absolute;
    bottom:0;
    background: #1a1a1a;
    width: 100%;
    text-align: center;
    color: #fff;
}



/*@media screen and (max-height:490px){*/
/*.menu{*/
/*height:240px;*/
/*}*/
/*}*/
/*@media screen and (min-height:666px){*/
/*.menu{*/
/*height:430px;*/
/*}*/
/*}*/
/*@media screen and (min-height:1023px){*/
/*.menu{*/
/*height:800px;*/
/*}*/
/*}*/