body
{
    background: #f0f1f1;
}

.h-back
{
    position: absolute;
    z-index: -1;
    top: 47px;

    overflow: hidden;

    width: 100%;
    min-width: 1100px;
}

.h-background
{
    width: 1100px;
    margin: 0 auto;
}

.background
{
    position: relative;
    left: -400px;

    width: 1920px;
    height: 866px;

    background: url('../images/banner_07.jpg') no-repeat 0 0;
}

.header
{
    width: 100%;
    min-width: 1100px;
    height: 48px;

    background: #323232;
}

.crumbs
{
    position: absolute;
    top: 240px;

    width: 100%;
    min-width: 1100px;
    height: 28px;

    background: rgba(0, 0, 0, .6);
}

.h-logo
{
    float: left;

    width: 180px;
    height: 115px;

    text-align: center;

    color: #fff;
    background: #dd4012;
}

.h-nav
{
    width: 1100px;
    margin: 0 auto;
}

.h-nav span
{
    font-size: 12px;

    color: #ffac94;
}

.h-logo img
{
    display: inline;

    margin: 30px 0 10px 0;
}

.nav-list
{
    float: left;

    margin: 0 0 0 30px;
}

.nav-list li
{
    font-weight: 900;
    line-height: 48px;

    float: left;

    width: 87px;
    height: 48px;

    text-align: center;

    color: #888;
}

.nav-list li:hover
{
    color: #fff;
    background: #dd4012;
}

.nav-list a
{
    font-size: 13px;

    color: inherit;
}

.contacts
{
    float: right;
}

.contacts span
{
    color: #757575;
}

.contacts li
{
    line-height: 48px;

    float: left;

    padding-left: 16px;

    color: #666;
}

.crumbs-content
{
    line-height: 28px;

    width: 1100px;
    margin: 0 auto;

    color: #fff;
}

.crumbs-content a
{
    color: inherit;
}

.crumbs-content span
{
    display: inline-block;

    width: 20px;

    text-align: center;
}



.footer
{
    float: left;

    width: 100%;
    min-width: 1100px;
    height: 82px;
    margin: 40px 0 0 0;

    background: #323232;
}

.footer-content
{
    font-size: 12px;

    width: 1100px;
    margin: 0 auto;
}

.footer-content img
{
    float: left;

    width: 164px;
    margin: 20px 0 0 0;
}

.footer-content ul
{
    float: right;

    height: 20px;
    margin: 28px 0 0 0;
}
.footer-content a
{
    color: #999;
}
.footer-content ul li
{
    float: left;

    margin: 0 0 0 20px;
}

.copyright
{
    float: right;

    color: #666;
}
.main-container
{
    position: absolute;
    top: 265px;

    width: 100%;
    min-width: 1100px;
    margin: 45px auto 0 auto;
}

.main-content
{
    position: static;

    width: 1100px;
    margin: 0 auto;
}
.title
{
    color: #c5c3b8;
    border-right: #c5c3b8 solid 4px;
    border-left: #c5c3b8 solid 4px;
}
.first-hr
{
    display: inline-block;

    width: 12px;
}
.second-hr
{
    display: inline-block;

    width: 817px;
}
.title-en
{
    font-size: 24px;
    font-weight: 900;

    margin: 0 20px 0 0;

    color: #dd4012;
}
.title-cn
{
    font-size: 24px;
    font-weight: 900;

    color: #333;
}
.contact-method
{
    font-size: 12px;

    margin: 30px 0 0 0 ;
}
.tel-img
{
    float: left;

    width: 14px;
}
.tel-img li
{
    float: left;

    width: 14px;
}
.tel
{
    float: left;

    width: 175px;
    height: 80px;
    margin: 0 60px 0 15px;
}
.tel li
{
    line-height: 15px;

    height: 25px;

    text-align: left;
}
.other-img
{
    float: left;

    width: 14px;
}
.other-img li
{
    line-height: 15px;

    float: left;

    width: 14px;
    height: 25px;

    text-align: center;
}
.other
{
    float: left;

    width: 300px;
    margin: 0 0 0 15px;
}
.other li
{
    line-height: 14px;

    float: left;

    width: 300px;
    height: 25px;
}
.bus-img
{
    float: left;

    width: 14px;
}

.bus-img li
{
    float: left;

    width: 14px;
}
.take-bus
{float: left;

    width: 450px;
    height: 80px;    
    margin: 0 0 0 15px;
}
.take-bus li
{
    line-height: 15px;

    float: left;

    width: 450px;
    height: 25px;

    text-align: left;
}
.bus
{
    margin: 0 10px 0 0;
    padding: 3px;

    color: #ccc;
    background: #757575;
}
.bus-num
{
    font-weight: 800;

    color: #dd4012;
}
