body {
    width: 100%;
}

.h-back {
    width: 100%;
    min-width: 1100px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.h-background {
    width: 1100px;
    margin: 0 auto;
}

.background {
    background: url("../images/background_01.jpg") no-repeat 0 0;
    width: 1920px;
    height: 866px;
    position: relative;
    left: -400px;
}

.h-content {
    width: 100%;
    min-width: 1100px;
}

.h-header {
    height: 36px;
    background: #323232;
}

.h-contacts {
    width: 1100px;
    margin: 0 auto;
}

.h-contacts ul {
    float: right;
}

.h-contacts li {
    float: left;
    line-height: 36px;
    color: #666;
}

.h-contacts li {
    background: #fff;
    padding-left: 16px;
}

.h-contacts .li-normal {
    background: inherit;
}

.h-contacts li:nth-last-child(1) {
    padding-right: 8px;
}

.h-contacts li:nth-child(3) {
    margin-left: 8px;
}

.h-nav {
    width: 1100px;
    margin: 0 auto;
}
.h-nav span{
    font-size: 12px;
    color: #ffac94;
}
.h-logo {
    background: #dd4012;
    color: #fff;
    width: 180px;
    height: 115px;
    text-align: center;
}

.h-logo img {
    margin: 30px 0 10px 0;
    display: inline;
}

.h-nav-list {
    width: 180px;
    height: 270px;
    background: rgba(0, 0, 0, 0.7);
    color: #989898;
}

.h-nav-list ul {
    width: 80px;
    margin: 5px 0;
    line-height: 42px;
    float: left;
    font-size: 14px;
}

.h-nav-list li {
    background: inherit;
}

.h-nav-list-cn {
    text-align: left;
}

.h-nav-list-cn a, .h-nav-list-en a {
    color: #989898;
}

.h-nav-list-en {
    text-align: right;
    padding-right: 20px;
}

.h-main {
    margin: 160px auto 0 auto;
    color: #fff;
    width: 1100px;
}

.h-main h1 {
    font-size: 67px;
    margin: 0 0 0 380px;
}

.h-main h2 {
    font-size: 123px;
    margin: 80px 0 0 380px;
    color: #dd4012;
    font-weight: 900;
}

.crumbs {
    color: #dd4012;
    margin: 220px 0 0 0;
}

.crumbs span {
    font-weight: 900;
}

.crumbs ul {
    float: right;
}

.crumbs li {
    float: left;
}

.crumbs a {
    color: #dd4012;
}

.turn-left, .turn-right {
    background: #dd4012;
    width: 25px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.turn-left {
    float: left;
}

.turn-right {
    float: right;
}

.scroll {
    margin: 15px 0 0 0;
}

.turn-left:hover, .turn-right:hover {
    cursor: pointer;
}

.scroll ul {
}

.scroll li {
    float: left;
    margin: 0 20px 0 0;
    width: 150px;
    height: 90px;
}

.scroll li:nth-child(1) {
    margin: 0 20px 0 25px;
}

.h-footer {
    height: 48px;
    background: rgba(0, 0, 0, 0.7);
    margin: 120px 0 0 0;
}

.h-footer-content {
    width: 1100px;
    height: 48px;
    margin: 0 auto;
    line-height: 48px;
    color: #999;
    font-size: 12px;
}

.icp {
    margin: 0 0 0 20px;
}

.copyright {
    float: left;
}

.h-footer-content ul {
    float: right;
}

.h-footer-content li {
    float: left;
    margin: 0 0 0 10px;
}

.h-footer-content a {
    color: #999;
    line-height: 48px;
}

.view-point {
    width: 315px;
    height: 140px;
    background: #dd4012;
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 60%;
}

.view-point:hover {
    animation-play-state: paused;
}

.close {
    position: relative;
    left: 305px;
    top: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #dd4012;
    font-weight: 900;
    border-radius: 20px;
}

.close:hover {
    cursor: pointer;
}

.view-title {
    color: #ffd1c4;
    font-size: 17px;
    line-height: 20px;
    height: 30px;
    width: 270px;
    margin: 0 15px;
    font-weight: 900;
}

.view-sub {
    color: #fe734b;
    font-size: 13px;
    line-height: 20px;
}

.view-arrow {
    float: right;
}

.view-case {
    margin: 0 15px;
}

.case-img {
    width: 110px;
    height: 65px;
}

.case-content {
    float: right;
    width: 170px;
    height: 65px;
}

.case-title {
    font-size: 14px;
    color: #ffd1c4;
}

.case-date {
    color: #f77751;
    font-size: 12px;
    line-height: 40px;

}

.case-company {
    color: #ffa88e;
    font-size: 12px;
}