body
{
    font-family: '微软雅黑';

    width: 100%;
}

.h-back
{
    position: absolute;
    z-index: -1;

    overflow: hidden;

    width: 100%;
    min-width: 1100px;
}

.h-background
{
    width: 1100px;
    margin: 0 auto;
}

.background
{
    position: relative;
    left: -400px;

    width: 1920px;
    height: 866px;

    background: url('../images/background_01.jpg') no-repeat 0 0;
}

.h-content
{
    width: 100%;
    min-width: 1100px;
}

.h-header
{
    height: 36px;

    background: #323232;
}

.h-contacts
{
    width: 1100px;
    margin: 0 auto;
}

.h-contacts ul
{
    float: right;
}

.h-contacts li
{
    line-height: 36px;

    float: left;

    color: #666;
}

.h-contacts li
{
    padding-left: 16px;

    background: #fff;
}

.h-contacts .li-normal
{
    background: inherit;
}

.h-contacts li:nth-last-child(1)
{
    padding-right: 8px;
}

.h-contacts li:nth-child(3)
{
    margin-left: 8px;
}

.h-nav
{
    width: 1100px;
    margin: 0 auto;
}

.h-nav span
{
    font-size: 12px;

    color: #ffac94;
}

.h-logo
{
    width: 180px;
    height: 115px;

    text-align: center;

    color: #fff;
    background: #dd4012;
}

.h-logo img
{
    display: inline;

    margin: 30px 0 10px 0;
}

.h-nav-list
{
    width: 180px;
    height: 270px;

    color: #989898;
    background: rgba(0, 0, 0, .7);
}

.h-nav-list ul
{
    font-size: 14px;
    line-height: 42px;

    float: left;

    width: 80px;
    margin: 5px 0;
}

.h-nav-list li
{
    background: inherit;
}

.h-nav-list-cn
{
    text-align: left;
}

.h-nav-list-cn a,
.h-nav-list-en a
{
    color: #989898;
}

.h-nav-list-en
{
    padding-right: 20px;

    text-align: right;
}

.h-main
{
    width: 1100px;
    margin: 130px auto 0 auto;

    color: #fff;
}

.h-main h1
{
    font-size: 67px;
    font-weight: 900;

    margin: 0 0 0 370px;
}

.h-main .ch
{
    font-size: 83px;

    margin: 0 0 0 380px;
}

.h-main h2
{
    font-size: 123px;
    font-weight: 900;

    margin: 10px 0 0 380px;

    color: #dd4012;
}

.crumbs
{
    margin: 220px 0 0 0;

    color: #dd4012;
}

.crumbs span
{
    font-weight: 900;
}

.crumbs ul
{
    float: right;
}

.crumbs li
{
    float: left;
}

.crumbs a
{
    color: #dd4012;
}

.turn-left,
.turn-right
{
    line-height: 90px;

    width: 25px;
    height: 90px;

    text-align: center;

    background: #dd4012;
}

.turn-left
{
    float: left;

    margin: 15px 25px 0 0;
}

.turn-right
{
    float: left;

    margin: 15px 0 0 25px;
}

.scroll
{
    float: left;
    overflow: hidden;

    width: 1000px;
    height: 90px;
    margin: 15px auto 0 auto;
}

.turn-left:hover,
.turn-right:hover
{
    cursor: pointer;
}

.case-list
{
    overflow: hidden;

    width: 1020px;
}

.scroll ul
{
    position: relative;
    z-index: -1;

    width: 3000px;
}

.scroll li
{
    float: left;

    width: 150px;
    height: 90px;
    margin: 0 20px 0 0;
}

.h-footer
{
    height: 48px;
    margin: 135px 0 0 0;

    background: rgba(0, 0, 0, .7);
}

.h-footer-content
{
    font-size: 12px;
    line-height: 48px;

    width: 1100px;
    height: 48px;
    margin: 0 auto;

    color: #999;
}

.icp
{
    margin: 0 0 0 20px;
}

.copyright
{
    float: left;
}

.h-footer-content ul
{
    float: right;
}

.h-footer-content li
{
    float: left;

    margin: 0 0 0 10px;
}

.h-footer-content a
{
    line-height: 48px;

    color: #999;
}

.view-point
{
    position: absolute;
    z-index: 100;
    top: 20%;
    left: 60%;

    width: 315px;
    height: 140px;

    background: #dd4012;
}

.view-point:hover
{
    animation-play-state: paused;
}

.close
{
    font-weight: 900;
    line-height: 20px;

    position: relative;
    top: -10px;
    left: 305px;

    width: 20px;
    height: 20px;

    text-align: center;

    color: #dd4012;
    border-radius: 20px;
    background: #fff;
}

.close:hover
{
    cursor: pointer;
}

.view-title
{
    font-size: 17px;
    font-weight: 900;
    line-height: 20px;

    width: 270px;
    height: 30px;
    margin: 0 15px;

    color: #ffd1c4;
}

.view-sub
{
    font-size: 13px;
    line-height: 20px;

    color: #fe734b;
}

.view-arrow
{
    float: right;
}

.view-case
{
    margin: 0 15px;
}

.case-img
{
    width: 110px;
    height: 65px;
}

.case-content
{
    float: right;

    width: 170px;
    height: 65px;
}

.case-title
{
    font-size: 14px;

    color: #ffd1c4;
}

.case-date
{
    font-size: 12px;
    line-height: 40px;

    color: #f77751;
}

.case-company
{
    font-size: 12px;

    color: #ffa88e;
}
