body
{
    background: #f0f1f1;
}

.h-back
{
    position: absolute;
    z-index: -1;
    top: 47px;

    overflow: hidden;

    width: 100%;
    min-width: 1100px;
}

.h-background
{
    width: 1100px;
    margin: 0 auto;
}
.header
{
    width: 100%;
    min-width: 1100px;
    height: 48px;

    background: #323232;
}

.crumbs
{
    position: absolute;
    top: 240px;

    width: 100%;
    min-width: 1100px;
    height: 28px;

    background: rgba(0, 0, 0, .6);
}

.h-logo
{
    float: left;

    width: 180px;
    height: 115px;

    text-align: center;

    color: #fff;
    background: #dd4012;
}

.h-nav
{
    width: 1100px;
    margin: 0 auto;
}

.h-nav span
{
    font-size: 12px;

    color: #ffac94;
}

.h-logo img
{
    display: inline;

    margin: 30px 0 10px 0;
}

.nav-list
{
    float: left;

    margin: 0 0 0 30px;
}

.nav-list li
{
    font-weight: 900;
    line-height: 48px;

    float: left;

    width: 87px;
    height: 48px;

    text-align: center;

    color: #888;
}

.nav-list li:hover
{
    color: #fff;
    background: #dd4012;
}

.nav-list a
{
    font-size: 13px;

    color: inherit;
}

.contacts
{
    float: right;
}

.contacts span
{
    color: #757575;
}

.contacts li
{
    line-height: 48px;

    float: left;

    padding-left: 16px;

    color: #666;
}

.crumbs-content
{
    line-height: 28px;

    width: 1100px;
    margin: 0 auto;

    color: #fff;
}

.crumbs-content a
{
    color: inherit;
}

.crumbs-content span
{
    display: inline-block;

    width: 20px;

    text-align: center;
}



.footer
{
    float: left;

    width: 100%;
    min-width: 1100px;
    height: 82px;
    margin: 40px 0 0 0;

    background: #323232;
}

.footer-content
{
    font-size: 12px;

    width: 1100px;
    margin: 0 auto;
}

.footer-content img
{
    float: left;

    width: 164px;
    margin: 20px 0 0 0;
}

.footer-content ul
{
    float: right;

    height: 20px;
    margin: 28px 0 0 0;
}
.footer-content a
{
    color: #999;
}
.footer-content ul li
{
    float: left;

    margin: 0 0 0 20px;
}

.copyright
{
    float: right;

    color: #666;
}
.main-container
{
    position: absolute;
    top: 120px;

    width: 100%;
    min-width: 1100px;
    margin: 45px auto 0 auto;
}

.main-content
{
    position: static;

    width: 1100px;
    margin: 0 auto;

    background: #fff;
}
.view-detail
{
    padding: 45px 60px 60px 55px;
}
.view-detail h1
{
    font-size: 18px;
    font-weight: 900;

    color: #333;
}
.view-tags
{
    font-size: 12px;
    line-height: 45px;

    float: left;

    color: #ccc;
}
.view-tags span
{
    color: #000;
}
.view-date
{
    font-size: 12px;
    line-height: 45px;

    float: right;

    color: #ccc;
}
.view-content
{
    border-top: #eee solid 1px;
    border-bottom: #eee solid 1px;
}
.view-content img
{
    margin: 35px 0 0 0;
}
.view-text
{
    line-height: 30px;

    margin: 30px 0 0 0;

    color: #333;
}
.prev
{
    font-size: 12px;
    line-height: 36px;

    float: left;

    color: #ccc;
}
.prev a,
.next a
{
    color: #333;
}

.next
{
    font-size: 12px;
    line-height: 36px;

    float: right;

    color: #ccc;
}
